@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  max-width: 841px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgba(146, 132, 123, 0.527);
}

.header {
  position: relative;
}
.header__title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(252, 250, 248, 0.527);
  padding: 24px 0;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(240, 243, 220, 0.527), inset 0 0 12px rgba(138, 119, 106, 0.527);
}
.header__title {
  margin-bottom: 4px;
}
.header__tel {
  font-size: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: call 1s ease-in-out infinite alternate-reverse;
}
.header .fz {
  font-size: 24px;
}

@-webkit-keyframes call {
  from {
    width: 18px;
    height: 18px;
  }
  to {
    width: 36px;
    height: 36px;
  }
}

@keyframes call {
  from {
    width: 18px;
    height: 18px;
  }
  to {
    width: 36px;
    height: 36px;
  }
}
.main__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main__text {
  font-size: 14px;
}
.main__img {
  display: flex;
  margin: 12px;
  flex-basis: auto;
  flex-wrap: wrap;
}
.main__pic {
  max-width: 300px;
}