body {
	max-width: 841px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0;
	color: rgb(163, 209, 35);
}
