.block__input {
	display: block;
}
.button {
	padding: 10px;
	border-radius: 15px;
	background-color: rgb(228, 235, 235);
	&:hover {
		background-color: rgba(80, 82, 82, 0.679);
	}
	&:active{
		background-color: rgb(201, 22, 100);
	}
}
.picture{
	width: 200px;
	height: 100%;
}
