.header {
	&__title,&__tel{
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid blue;
		background-color: yellow;
		padding: 24px 0;
		border-radius: 6px;
		box-shadow: 0 0 12px blue, inset 0 0 12px blue;
	}
	&__title {
		margin-bottom: 4px; 
	}
	&__tel{
	}
}