.main {
	&__box {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	&__text {
		font-size: 14px;
	}
	&__img {
		display: flex;
		margin: 12px;
		flex-basis: auto;
		flex-wrap: wrap;
	}
	&__pic {
		max-width: 300px;
	}
}
